@keyframes zoomin {
    0% {width:100%;height: 100%; opacity: 0.3}
    50% {width: 300%;height: 300%;opacity: 0}
    100% {width:100%;height: 100%;opacity:0.3}
}

body {
    overflow: hidden;
    background-color: rgb(30,30,30);
    box-shadow: 0 0 500px rgba(0,1,1,1) inset;
    background-color: rgb(30,30,30);
    margin: 0;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.3;
    transition: opacity 1s; 
}

#background2 {
    opacity:0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity:0;
    transition: opacity 1s; 
}

.zoomin {
    animation-name: zoomin;
    animation-duration: 4.2s;
    justify-content: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#logo {
    width: 360;
    height: 360;
    opacity: 0.6;
}

.shield {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0%;
}
